<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .ninjas {
            border: 2px solid black;
            margin-bottom: 20px;
            height: 200px;
            width: 300px;
        }
        .name {
            border-right: 2px solid black;
        }
    </style>
</head>
<body>
    <h1>{{dojo['name']}} Ninjas</h1>
    <table class="ninjas">
        <td class="name">First Name</td>
        <td class="name">Last Name</td>
        <td>Age</td>
        {% for ninjas in dojo["ninjas"] %}
            <tr>
                <td class="name">{{ninjas["first_name"]}}</td>
                <td class="name">{{ninjas["last_name"]}}</td>
                <td>{{ninjas["age"]}}</td>
            </tr>
        {% endfor %}
    </table>
    <a href="/dojos">Home</a>
</body>
</html>